/* Color & Font Variables */
$primary-color: #3c2415; /* A warm, vintage brown */
$secondary-color: #ffffff;
$accent-color: #9c8b72; /* Subtle gold/brown accent */

$font-base: 'Crimson Text', serif;
